@page
@model IndexModel

<div class="container mt-5">
    <h1>Ваши задачи</h1>

    <form method="post" asp-page-handler="Add" class="mb-3"> <!--Форма для добавления новых задач.-->
        <div class="form-group"> <!-- Контейнер для ввода названия задачи -->
            <label>Название задачи</label>
            <input asp-for="NewTaskTitle" class="form-control" />
        </div>
        <div class="form-group"> <!-- Контейнер для ввода названия задачи -->
            <label>Описание</label>
            <input asp-for="NewTaskDescription" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary mt-2">Добавить</button> <!-- Кнопка для отправки формы-->
    </form>

    <table class="table"> <!-- Таблица для отображения списка задач -->
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody> <!-- Тело таблицы, содержащее данные. -->
            @foreach (var task in Model.Tasks)
            {
                <tr>
                    <td>@task.Title</td>
                    <td>@task.Description</td>
                    <td>
                        <form method="post" asp-page-handler="Delete"> <!-- Форма для удаления задачи. -->
                            <input type="hidden" name="title" value="@task.Title" />
                            <input type="hidden" name="description" value="@task.Description" />
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>